@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #4d2fb2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-webkit-scrollbar {
    width: 8px; /* Set the width for vertical scrollbar */
    height: 8px; /* Set the height for horizontal scrollbar */
  }

  /* Targets the scrollbar track (the background area) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray background */
    border-radius: 100vh; /* Optional: adds rounded corners */
  }

  /* Targets the scrollbar thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background: #b153d7; /* Darker gray handle color */
    border-radius: 100vh; /* Optional: adds rounded corners */
  }
}
